html {
  font-size: 10px;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  color: #fff;
  background: #43C2CE;
  background: #5d1a4e;
  margin: 0;
  padding: 0;
}

h1 {
  position: absolute;
  top: 48%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3.6rem;
}

.H {
  font-size: 20rem;
  margin-left: -1.1rem;
}
h1 div {
  display: inline-block;
}
h1 div + div {
  margin-left: -1rem;
}
h1 div > span {
  display: block;
}
.is-for {
  font-weight: 200;
}